<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.comp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.comp.SearchResultsActivity"
            android:label="@string/title_activity_search_page" >
        </activity>
        <activity
            android:name="com.example.comp.SellOption"
            android:label="@string/title_activity_sell_option" >
        </activity>
        <activity
            android:name="com.example.comp.SellOptionSubmit"
            android:label="@string/title_activity_sell_option_submit" >
        </activity>
    </application>

</manifest>
