<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo" >
        <activity
            android:name="com.example.comp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SearchResultsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SellOption"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SellOptionSubmit"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SearchItem"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SearchFashion"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.SearchElectronics"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.ShowProduct"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.comp.CreateUserActivity"
            android:label="@string/title_activity_create_user"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.example.comp.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.AppCompat" >
        </activity>
        <activity
            android:name="com.example.comp.MenuActivity"
            android:label="@string/title_activity_menu" >
        </activity>
        <activity
            android:name="com.example.comp.MessageActivity"
            android:label="@string/title_activity_message" >
        </activity>
        <activity
            android:name="com.example.comp.CreateMessageActivity"
            android:label="@string/title_activity_create_message" >
        </activity>
        <activity
            android:name="com.example.comp.LendOption"
            android:label="@string/title_activity_lend_option" >
        </activity>
        <activity
            android:name="com.example.comp.LendOptionSubmit"
            android:label="@string/title_activity_lend_option_submit" >
        </activity>
        <activity
            android:name="com.example.comp.SearchItemExchange"
            android:label="@string/title_activity_search_item_exchange" >
        </activity>
        <activity
            android:name="com.example.comp.ShowProductExchange"
            android:label="@string/title_activity_show_product_exchange" >
        </activity>
        <activity
            android:name="com.example.comp.FBLogin"
            android:label="@string/title_activity_fblogin" >
        </activity>
    </application>

</manifest>
